[submodule "data"]
	path = data
	url = ssh://git.sotecware.net/PythonicUniverse-data
	branch = devel
[submodule "docs"]
	path = docs
	url = ssh://git.sotecware.net/PythonicUniverse-docs
	branch = devel
[submodule "PyEngine"]
	path = PyEngine
	url = https://github.com/zombofant/pyengine
